<body >
        <div class="main">
        <div class="col-sm-12" style="text-align: center;">
                <label for="name" class="control-label"><b>COLOR NAME:</b></label>
                  &nbsp;
                  <mat-form-field  floatLable="auto" appearance="outline" color="warn" style="margin-top: 10%">
                                <mat-label>Color-Name</mat-label>
                                <input matInput placeholder="Colorname" required>
                            </mat-form-field>
                  &nbsp;<button class="btn1" mat-raised-button  >ADD</button> 
           </div><br><br>
        </div>
</body>                  

