<body>
  <div class="main">
  <div class="col-sm-12" style="text-align: center;margin-top: 50px;">
      <label for="name" class="control-label"><b>MOULDR AMT</b></label>
        &nbsp;
         <mat-form-field  floatLable="auto" appearance="outline" color="warn">
                
                 <input matInput placeholder="MODULAR" >
             </mat-form-field> 
        &nbsp;<button class="btn1" mat-raised-button >ADD</button> 
 </div><br><br>
<div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                 <!-- Position Column -->
                <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="qty">
                  <th mat-header-cell *matHeaderCellDef>Qty </th>
                  <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="amt">
                  <th mat-header-cell *matHeaderCellDef> Amt </th>
                  <td mat-cell *matCellDef="let element"> {{element.amt}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
</div>
</div>
</body>