
.btn1{
  background-color: rgb(255, 214, 51);
}
table{
  width: 80%;
  margin-left: 10%;
  }
th{
  background-color:rgb(255, 255, 128);
    font-size: 18px ;
    color: black;
 
  }
  .main{
    height: 590px;
    width: 100%;
    background-size: 100%;
    background-image:url('src\assets\img\img10.jpeg');
    background-repeat: no-repeat;
  }